*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#grid{
    width: 1000px; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}
.square{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_lightblue{
    background-color: rgb(51, 240, 240);
}